/build/Debug/Makefile
/build/Debug/Makefile.Debug
/build/Debug/Makefile.Release
/build/Debug/QConnect_resource.rc
/build/Debug/debug/MainWindow.o
/build/Debug/debug/QConnect_resource_res.o
/build/Debug/debug/TCPClient.o
/build/Debug/debug/TCPServer.o
/build/Debug/debug/main.o
/build/Debug/debug/moc_MainWindow.cpp
/build/Debug/debug/moc_MainWindow.o
/build/Debug/debug/moc_TCPClient.cpp
/build/Debug/debug/moc_TCPClient.o
/build/Debug/debug/moc_TCPServer.cpp
/build/Debug/debug/moc_TCPServer.o
/build/Debug/ui_MainWindow.h
/build/Debug/ui_TCPClient.h
/build/Debug/ui_TCPServer.h
/build/Release/Makefile
/build/Release/Makefile.Debug
/build/Release/Makefile.Release
/build/Release/QConnect_resource.rc
/build/Release/release/MainWindow.o
/build/Release/release/QConnect_resource_res.o
/build/Release/release/TCPClient.o
/build/Release/release/TCPServer.o
/build/Release/release/main.o
/build/Release/release/moc_MainWindow.cpp
/build/Release/release/moc_MainWindow.o
/build/Release/release/moc_TCPClient.cpp
/build/Release/release/moc_TCPClient.o
/build/Release/release/moc_TCPServer.cpp
/build/Release/release/moc_TCPServer.o
/build/Release/ui_MainWindow.h
/build/Release/ui_TCPClient.h
/build/Release/ui_TCPServer.h
